@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile-container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
  overflow: hidden;

  &__title-container {
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #1f66a8;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    &__title {
      color: #fff;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      i {
        font-size: 2.4rem;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 3rem;
    padding-block: 3rem;

    &__title {
      inline-size: 25%;
      color: #6c757d;
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &__form {
      inline-size: 65%;
      margin: auto;
      @include center();
      gap: 2rem;
      transition: all 0.2s ease;

      &__field-container {
        inline-size: 100%;
        @include center();
        gap: 3rem;

        &__input-container {
          @include center();
          inline-size: 100%;
          gap: 0.5rem;
          flex-direction: column;
          align-items: flex-start;

          &__label-group {
            inline-size: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
          }

          &__label {
            font-size: 1.6rem;
            font-weight: 600;
            color: #565656;
          }
        }
      }

      &__button {
        align-self: flex-start;
        font-size: 1.8rem;
        font-weight: 600;
        user-select: none;
        border: 1px solid #c0e0f1;
        padding-block: 1rem;
        padding-inline: 1.3rem;
        border-radius: 0.7rem;
        background-color: #1f66a8;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        color: #fff;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
