<div class="edit-profile-container">
  <div class="edit-profile-container__title-container">
    <span class="edit-profile-container__title-container__image">
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </span>
    <h1 class="edit-profile-container__title-container__title">User Profile</h1>
  </div>
  <main class="edit-profile-container__main">
    <h2 class="edit-profile-container__main__title">
      Your account’s vital info. Your username will be publicly visible.
    </h2>
    <form
      [formGroup]="userForm"
      class="edit-profile-container__main__form"
      data-testid="auth-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="edit-profile-container__main__form__field-container">
        <ng-container *ngFor="let control of formControls">
          <div class="edit-profile-container__main__form__field-container__input-container">
            <div class="edit-profile-container__main__form__field-container__input-container__label-group">
              <p class="edit-profile-container__main__form__field-container__input-container__label">
                {{ control.placeholder }}
              </p>
            </div>
            <app-input
              [formControlName]="control.name"
              [type]="control.type"
              [placeholder]="control.placeholder"
              [errorTip]="getErrorTip(control)"
              [prefixIcon]="control.prefixIcon"
            ></app-input>
          </div>
        </ng-container>
      </div>
      <button class="edit-profile-container__main__form__button">Update</button>
    </form>
  </main>
</div>
