:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

nz-content {
  margin: 24px;

  .inner-content {
    width: 100rem;
  }
}
