<div class="edit-profile-container">
  <div class="edit-profile-container__title-container">
    <img
      class="edit-profile-container__title-container__image"
      src="/profile/asterisk.svg"
      alt="avatar"
    />
    <h1 class="edit-profile-container__title-container__title">
      Change Password
    </h1>
  </div>
  <main class="edit-profile-container__main">
    <h2 class="edit-profile-container__main__title">
      Changing your sign in password is an easy way to keep your account secure.
    </h2>
    <form
      [formGroup]="passwordForm"
      class="edit-profile-container__main__form"
      data-testid="auth-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="edit-profile-container__main__form__field-container">
        <ng-container *ngFor="let control of formControls">
          <div
            class="edit-profile-container__main__form__field-container__input-container"
          >
            <div
              class="edit-profile-container__main__form__field-container__input-container__label-group"
            >
              <label
                class="edit-profile-container__main__form__field-container__input-container__label"
              >
                {{ control.placeholder }}
              </label>
              <p
                *ngIf="
                  passwordForm.get(control.name)?.touched &&
                  passwordForm.get(control.name)?.invalid
                "
                class="edit-profile-container__main__form__field-container__input-container__error-container"
              >
                <span
                  *ngIf="passwordForm.get(control.name)?.hasError('required')"
                  class="edit-profile-container__main__form__field-container__input-container__error-container__error"
                >
                  *required
                </span>
                <span
                  *ngIf="passwordForm.get(control.name)?.hasError('minlength')"
                  class="edit-profile-container__main__form__field-container__input-container__error-container__error"
                >
                  *at least {{ control.minLength }} characters
                </span>
                <span
                  *ngIf="
                    passwordForm.get(control.name)?.hasError('mismatch') &&
                    !passwordForm.get(control.name)?.hasError('minlength') &&
                    !passwordForm.get(control.name)?.hasError('required')
                  "
                  class="edit-profile-container__main__form__field-container__input-container__error-container__error"
                >
                  *passwords do not match
                </span>
              </p>
            </div>
            <input
              #inputField
              [type]="control.type"
              [formControlName]="control.name"
              class="edit-profile-container__main__form__field-container__input-container__input"
              [ngClass]="{
                'edit-profile-container__main__form__field-container__input-container__input--invalid':
                  passwordForm.get(control.name)?.invalid &&
                  passwordForm.get(control.name)?.touched,
                'edit-profile-container__main__form__field-container__input-container__input--default':
                  !passwordForm.get(control.name)?.touched,
                shake: isSubmitted && passwordForm.get(control.name)?.invalid
              }"
            />
          </div>
        </ng-container>
      </div>
      <button class="edit-profile-container__main__form__button">Update</button>
    </form>
  </main>
</div>
