<div class="sigma-container">
  <div class="sigma-container__toolbar-container">
    <button
      nzTooltipPlacement="left"
      nz-tooltip
      nzTooltipTitle="Fullscreen"
      (click)="resetCamera()"
      class="sigma-container__toolbar-container__btn"
    >
      <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
    </button>
    <button
      nzTooltipPlacement="left"
      nz-tooltip
      nzTooltipTitle="Zoom In"
      (click)="zoomIn()"
      class="sigma-container__toolbar-container__btn"
    >
      <span nz-icon nzType="zoom-in" nzTheme="outline"></span>
    </button>
    <button
      nzTooltipPlacement="left"
      nz-tooltip
      nzTooltipTitle="Zoom Out"
      (click)="zoomOut()"
      class="sigma-container__toolbar-container__btn"
    >
      <span nz-icon nzType="zoom-out" nzTheme="outline"></span>
    </button>
    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="378"
      [nzVisible]="visible"
      nzTitle="Data Overview"
      (nzOnClose)="close()"
    >
      <div *nzDrawerContent>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Search nodes" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
        <nz-divider></nz-divider>
        <div class="node-container">
          @if(selectedNode){
          <nz-badge nzStatus="processing" [nzText]="'Node ' + selectedNodeId"></nz-badge>
          <div *ngFor="let entry of selectedNode | keyvalue" class="node-container__node-data">
            <h3 class="node-container__node-data__header">{{ entry.key }}:</h3>
            <h3 class="node-container__node-data__value">{{ entry.value }}</h3>
          </div>
          } @if (selectedEdge) {
          <nz-badge nzStatus="processing" [nzText]="'Edge ' + selectedEdgeId"></nz-badge>
          <div *ngFor="let entry of selectedEdge | keyvalue" class="node-container__node-data">
            <h3 class="node-container__node-data__header">{{ entry.key }}:</h3>
            <h3 class="node-container__node-data__value">{{ entry.value }}</h3>
          </div>
          }
        </div>
      </div>
    </nz-drawer>
  </div>
  <app-graph-tool-bar (openDrawer)="open()"></app-graph-tool-bar>
  <div id="sigma-container"></div>
</div>
