<div class="right-panel-container">
  <div class="right-panel-container__inner">
    <div class="right-panel-container__panel-block">
      <h2 class="right-panel-container__panel-block__title">
        <span nz-icon nzType="project" nzTheme="outline"></span>Data Overview
      </h2>
    </div>
    <hr class="right-panel-container__hr" />
    <div class="right-panel-container__panel-block">
      <div class="right-panel-container__panel-block__inner">
        <span class="right-panel-container__panel-block__inner__span"
          >Nodes: {{ data.numberOfNodes }}</span
        >
        <button
          nz-tooltip
          nzTooltipTitle="Under construction :)"
          class="right-panel-container__btn"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
      <div class="right-panel-container__panel-block__inner">
        <span class="right-panel-container__panel-block__inner__span"
          >Edges: {{ data.numberOfEdges }}</span
        >
        <button
          nz-tooltip
          nzTooltipTitle="Under construction :)"
          class="right-panel-container__btn"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <hr class="right-panel-container__hr" />
    <div class="right-panel-container__panel-block">
      <h3 class="right-panel-container__panel-block__title">
        {{ selectedNode ? selectedNode : "No node selected" }}
      </h3>
    </div>
  </div>
</div>
