<div class="right-panel-container">
  <div nz-flex [nzVertical]="true" class="right-panel-container__inner">
    <div class="right-panel-container__panel-block title-container">
      <h2 nz-typography class="right-panel-container__panel-block__title">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        Data Overview
      </h2>
    </div>
    <nz-divider></nz-divider>
    <div class="right-panel-container__panel-block">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Search for nodes"
        [nzShowArrow]="true"
        [formControl]="searchedNode"
        (ngModelChange)="onNodeChange($event)"
      >
        @for (item of listOfOption; track $index) {
        <nz-option [nzLabel]="item.label" [nzValue]="item.id"></nz-option>
        }
      </nz-select>
    </div>
    <nz-divider></nz-divider>
    <div class="right-panel-container__panel-block">
      <div class="right-panel-container__panel-block__inner">
        <h3 nz-typography class="right-panel-container__panel-block__inner__span">Nodes: {{ data.numberOfNodes }}</h3>
        <button nz-tooltip nzTooltipTitle="Under construction :)" class="right-panel-container__btn">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
      <div class="right-panel-container__panel-block__inner">
        <h3 nz-typography class="right-panel-container__panel-block__inner__span">Edges: {{ data.numberOfEdges }}</h3>
        <button nz-tooltip nzTooltipTitle="Under construction :)" class="right-panel-container__btn">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <nz-divider></nz-divider>

    <nz-divider> </nz-divider>
    <div class="right-panel-container__panel-block">
      @if (selectedNode.age !==0) {
      <h3 class="right-panel-container__panel-block__info-title">{{ selectedNode.label }} {{ selectedNode.age }}</h3>
      <br />
      <h3 class="right-panel-container__panel-block__info-title">{{ selectedNode.bio }}</h3>
      }@else {
      <h3 class="right-panel-container__panel-block__info-title">"No node selected"</h3>
      }
    </div>
  </div>
</div>
