.container {
  inline-size: calc(100vw - 41.4rem);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__description {
    inline-size: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 1rem;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__title {
      font-size: 2.4rem;
      font-weight: bold;
      color: #454c53;
    }

    &__text {
      font-size: 1.5rem;
      color: #6c757d;
    }
  }

  &__main {
    &__content-container {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 1rem;
      overflow: hidden;

      &__title-container {
        font-size: 2rem;
        font-weight: bold;
        background-color: #1f66a8;
        padding: 2rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
          color: #fff;
          font-size: 1.8rem;
          font-weight: 600;

          span {
            font-size: 2.4rem;
          }
        }
      }

      &__comments{
        padding-block: 1rem;
        padding-inline: 2rem;

        &__comment{

            p{
                font-size: 1.6rem;
            }
        }
      }
    }
  }
}
