<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="Node category" nzDescription="Define node category"></nz-step>
  <nz-step nzTitle="Upload nodes" nzDescription="Uplaod nodes file"></nz-step>
</nz-steps>
<nz-divider></nz-divider>
@switch (current) { @case (0) {
<div class="upload-container">
  <h4 nz-typography>Create a node category</h4>
  <div class="input-container">
    <p nz-paragraph>Or dont , you can use existing categories</p>
    <input nz-input placeholder="Node category" type="text" [(ngModel)]="nodecategory" />
  </div>
  <div class="upload-container__btn-container">
    <div class="upload-container__btn-container__nav-btn-container">
      @if (current !==0) {
      <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="back()">Back</button>
      }
      <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="next()">Next</button>
    </div>
    <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="addNodeCategory()">
      Submit
    </button>
  </div>
</div>
} @case (1) {
<div class="upload-container">
  <h4 nz-typography>Upload nodes file</h4>
  <form nz-form [formGroup]="uploadForm">
    <div class="input-container">
      <h5 nz-typography>Select which node category</h5>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a node category"
        formControlName="NodeCategoryName"
        [(ngModel)]="nodecategory"
      >
        @for (item of nodeCategoryList; track $index) {
        <nz-option nzLabel="{{ item }}" nzValue="{{ item }}"></nz-option>
        }
      </nz-select>
    </div>

    <div class="input-container">
      <h5 nz-typography>UniqueKey header name</h5>
      <input nz-input formControlName="UniqueKeyHeaderName" placeholder="UniqueKey header name" type="text" />
    </div>

    <div>
      <h5 nz-typography>Upload nodes file</h5>
      <nz-upload [nzBeforeUpload]="beforeUpload">
        <button nz-button>
          <span nz-icon nzType="upload"></span>
          Click to Upload
        </button>
      </nz-upload>
    </div>

    <div class="upload-container__btn-container">
      <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="back()">Back</button>
      <button
        class="btn"
        nz-button
        nzType="primary"
        [nzSize]="'default'"
        nzShape="round"
        (click)="submit()"
        [disabled]="!uploadForm.valid"
      >
      @if(isPending){
        <nz-spin nzSimple></nz-spin>
      }@else{
        Submit
      }
       
      </button>
    </div>
  </form>
</div>
} }
