<nz-steps [nzCurrent]="current">
  <nz-step nzTitle="Node category" nzDescription="Define node category"></nz-step>
  <nz-step nzTitle="Upload nodes" nzDescription="Uplaod nodes file"></nz-step>
</nz-steps>
<nz-divider></nz-divider>
@switch (current) { @case (0) {
<div class="upload-container">
  <h4 nz-typography>Create a node category</h4>
  <p nz-paragraph>Or dont , you can use existing categories</p>
  <input nz-input placeholder="Node category" type="text" [(ngModel)]="nodecategory" />
  <div class="upload-container__btn-container">
    <div class="upload-container__btn-container__nav-btn-container">
      @if (current !==0) {
      <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="back()">Back</button>
      }
      <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="next()">Next</button>
    </div>
    <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="addNodeCategory()">
      Submit
    </button>
  </div>
</div>
} @case (1) {
<div class="upload-container">
  <h4 nz-typography>Upload nodes file</h4>
  <h5 nz-typography>Select which node category</h5>
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a node category">
    @for (item of nodeCategoryList; track $index) {
    <nz-option nzLabel="{{ item }}" nzValue="{{ item }}"></nz-option>
    }
  </nz-select>
  <h5 nz-typography>UniqueKey header name</h5>
  <input nz-input placeholder="UniqueKey header name" type="number" />
  <h5 nz-typography>Upload nodes file</h5>
  <nz-upload
  [nzBeforeUpload]="beforeUpload"
  [nzHeaders]="{ authorization: 'authorization-text' }"
>
  <button nz-button>
    <span nz-icon nzType="upload"></span>
    Click to Upload
  </button>
</nz-upload>
  <div class="upload-container__btn-container">
    <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="back()">Back</button>
    <button class="btn" nz-button nzType="primary" [nzSize]="'default'" nzShape="round" (click)="submit()">Submit</button>
  </div>
</div>
} }
