<div class="edit-profile-container">
  <div class="edit-profile-container__title-container">
    <img
      class="edit-profile-container__title-container__image"
      src="/profile/asterisk.svg"
      alt="avatar"
    />
    <h1 class="edit-profile-container__title-container__title">
      Change Password
    </h1>
  </div>
  <main class="edit-profile-container__main">
    <h2 class="edit-profile-container__main__title">
      Changing your sign in password is an easy way to keep your account secure.
    </h2>
    <form
      [formGroup]="passwordForm"
      class="edit-profile-container__main__form"
      data-testid="auth-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="edit-profile-container__main__form__field-container">
        <ng-container *ngFor="let control of formControls">
          <div
            class="edit-profile-container__main__form__field-container__input-container"
          >
            <div
              class="edit-profile-container__main__form__field-container__input-container__label-group"
            >
              <p
                class="edit-profile-container__main__form__field-container__input-container__label"
              >
                {{ control.placeholder }}
              </p>
            </div>
            <app-input
              [formControlName]="control.name"
              [type]="control.type"
              [placeholder]="control.placeholder"
              [errorTip]="getErrorTip(control)"
              [prefixIcon]="control.prefixIcon"
            ></app-input>
            <div *ngIf="control.name === 'newpassword'" class="password-validation">
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasDigit ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasDigit ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasDigit }}</span>
              </div>
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasLowercase ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasLowercase ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasLowercase }}</span>
              </div>
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasUppercase ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasUppercase ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasUppercase }}</span>
              </div>
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasSpecialChar ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasSpecialChar ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasSpecialChar }}</span>
              </div>
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasNoSpaces ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasNoSpaces ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasNoSpaces }}</span>
              </div>
              <div class="password-validation__validation-item">
                <i
                  nz-icon
                  [nzType]="passwordValidation.hasValidLength ? 'check' : 'close'"
                  [ngStyle]="{ color: passwordValidation.hasValidLength ? '#52c41a' : '#ff4d4f' }"
                ></i>
                <span>{{ passwordValidationMessages.hasValidLength }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <button class="edit-profile-container__main__form__button">Update</button>
    </form>
  </main>
</div>
