<nav class="navbar">
  <div class="navbar__left">
    <button nz-button nzType="link" class="navbar__left__button" (click)="toggleSidebar()">
      <span nz-icon nzTheme="outline" nzType="menu"></span>
    </button>
    <button nz-button nzType="link" class="navbar__left__button">
      <span nz-icon nzTheme="outline" nzType="search"></span>
    </button>
  </div>
  <div class="navbar__right">
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="navbar__right__menu-button">
      {{ userData.firstName[0]?.toUpperCase() }}. {{ userData.lastName[0]?.toUpperCase()
      }}{{ userData.lastName.slice(1) }}
      <span nz-icon nzType="down" nzTheme="outline" class="navbar__right__menu-button__icon"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="navbar__right__custom-menu">
        <div class="navbar__right__custom-menu__header">
          {{ userData.firstName[0]?.toUpperCase() }}{{ userData.firstName.slice(1) }}
          {{ userData.lastName[0]?.toUpperCase() }}{{ userData.lastName.slice(1) }}
        </div>
        <ul nz-menu class="navbar__right__custom-menu__list">
          <li nz-menu-item class="navbar__right__custom-menu__list__item" routerLink="/dashboard/profile">
            <span>Profile</span>
            <i nz-icon nzType="user" nzTheme="outline"></i>
          </li>
          <li nz-menu-item class="navbar__right__custom-menu__list__item">
            <span>Settings</span>
            <i nz-icon nzType="setting" nzTheme="outline"></i>
          </li>
          <li nz-menu-divider class="navbar__right__custom-menu__list__divider"></li>
          <li
            nz-menu-item
            class="navbar__right__custom-menu__list__item"
            (click)="logout()"
            (keydown.enter)="logout()"
            (keydown.space)="logout()"
            tabindex="0"
          >
            <span>Sign Out</span>
            <img class="sidebar-logo__profile-container__name__icon" src="/logout.svg" alt="logout" />
          </li>
        </ul>
      </div>
    </nz-dropdown-menu>
  </div>
</nav>
