<div class="container">
  <div class="container__block">
    <h1>Circular layout</h1>
    <button (click)="onCircularLayoutButtonClick()" class="container__block__btn">
      <span nz-icon nzType="radar-chart" nzTheme="outline"></span>
    </button>
  </div>
  <nz-divider></nz-divider>
  <div class="container__block">
    <h1>Random layout</h1>
    <button (click)="onRandomLayoutButtonClick()" class="container__block__btn">
      <span nz-icon nzType="sync" nzTheme="outline"></span>
    </button>
  </div>
</div>
