<div class="sign-in-container">
    <main class="sign-in-container__main-content" >
        <h1 class="sign-in-container__main-content__title">Log In</h1>
        <form action="" class="sign-in-container__main-content__auth-form" data-testid="auth-form">
            <input type="text" placeholder="User-name" class="sign-in-container__main-content__auth-form__input" required minlength="3">
            <input type="password" placeholder="Password" class="sign-in-container__main-content__auth-form__input">
            <button class="sign-in-container__main-content__auth-form__button">
                <span class="front">
                    Log In
                </span>
            </button>
        </form>
    </main>
</div>
