<div class="role-container">
  <div class="role-container__title-container">
    <span class="role-container__title-container__image">
      <i nz-icon nzType="usergroup-add" nzTheme="outline"></i>
    </span>
    <h1 class="role-container__title-container__title">User Role</h1>
  </div>
  <main class="role-container__main">
    <h2 class="role-container__main__title">
      Roles determine what actions you can perform and what information you can view or manage.
    </h2>
    <form [formGroup]="roleForm" class="role-container__main__form" data-testid="auth-form" (ngSubmit)="onSubmit()">
      <div class="role-container__main__form__field-container">
        <ng-container *ngFor="let control of formControls">
          <div class="role-container__main__form__field-container__input-container">
            <div class="role-container__main__form__field-container__input-container__label-group">
              <p class="role-container__main__form__field-container__input-container__label">
                {{ control.placeholder }}
              </p>
            </div>
            <app-input
              [formControlName]="control.name"
              [type]="control.type"
              [placeholder]="control.placeholder"
              [errorTip]="getErrorTip(control)"
              [prefixIcon]="control.prefixIcon"
              [options]="control.options ? control.options : []"
              (tagChange)="onTagChange($event)"
              [listOfTagOptions]="listOfTagOptions"
            ></app-input>
          </div>
        </ng-container>
      </div>
      <button class="role-container__main__form__button">Update</button>
    </form>
  </main>
</div>
