<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add user"
  (nzOnCancel)="onCancelModal()"
  (nzOnOk)="onSubmitModal()"
  (nzAfterClose)="onAfterCloseModal()"
  [nzWidth]="'fit-content'"
  [nzClassName]="'modalClass'"
>
  <ng-container *nzModalContent>
    <h2 class="modal-content__title">Please fill in the form below to add a new user</h2>
    <form [formGroup]="userForm" class="modal-content-form" data-testid="auth-form">
      <ng-container *ngFor="let control of formControls">
        <app-input
          [formControlName]="control.name"
          [type]="control.type"
          [placeholder]="control.placeholder"
          [errorTip]="getErrorTip(control)"
          [prefixIcon]="control.prefixIcon"
          [options]="control.options ? control.options : []"
          (tagChange)="onTagChange($event)"
          [listOfTagOptions]="listOfTagOptions"
        ></app-input>
        <div *ngIf="control.name === 'password'" class="password-validation">
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasDigit ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasDigit ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasDigit }}</span>
          </div>
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasLowercase ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasLowercase ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasLowercase }}</span>
          </div>
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasUppercase ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasUppercase ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasUppercase }}</span>
          </div>
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasSpecialChar ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasSpecialChar ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasSpecialChar }}</span>
          </div>
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasNoSpaces ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasNoSpaces ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasNoSpaces }}</span>
          </div>
          <div class="password-validation__validation-item">
            <i
              nz-icon
              [nzType]="passwordValidation.hasValidLength ? 'check' : 'close'"
              [ngStyle]="{ color: passwordValidation.hasValidLength ? '#52c41a' : '#ff4d4f' }"
            ></i>
            <span>{{ passwordValidationMessages.hasValidLength }}</span>
          </div>
        </div>
      </ng-container>
    </form>
  </ng-container>
</nz-modal>
