<header class="header">
  <nav class="header__navbar">
    <div class="header__navbar__container">
        <a class="header__navbar__container__logo" href="/">
            <img src="logo.svg" alt="logo" />
            <h1 class="header__navbar__container__logo__title">Negar</h1>
        </a>
        <div class="header__navbar__container__collapse">
            <ul class="header__navbar__container__collapse__menu">
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#about">Home</a>
                </li>
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#about">About</a>
                </li>
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#services">Services</a>
                </li>
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#about">Portfolio</a>
                </li>
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#about">Blog</a>
                </li>
                <li class="header__navbar__container__collapse__menu__item">
                    <a class="header__navbar__container__collapse__menu__item__link" href="/#contact">Contact</a>
                </li>
            </ul>
            <div class="header__navbar__container__collapse__cta">
                <button (click)="handleShowForm()" class="header__navbar__container__collapse__cta__login">Login</button>
            </div>
        </div>
    </div>
  </nav>
</header>
