<section class="hero">
  <ngx-particles [id]="id" [options]="animationConfig" (particlesLoaded)="particlesLoaded($event)"></ngx-particles>
  <div class="hero__container">
    <div class="hero__container__content">
      <div class="hero__container__content__text" [ngClass]="{'hide-text': showForm}">
        <div class="hero__container__content__text__rows">
          <div class="hero__container__content__text__rows__row">
            <h1>Unlock Insights <span>Visualize </span>Data Make Decisions</h1>
          </div>
          <div class="hero__container__content__text__rows__row">
            <p>
              At any rate, upload CSV files to create dynamic graphs for data visualization. Analyze the data through
              various customizable graph types and tools. Gain insights and make informed decisions with ease. Transform
              raw data into actionable information for any project.
            </p>
          </div>
          <div class="hero__container__content__text__rows__row">
            <button class="hero__container__content__text__rows__row__login" (click)="showLoginForm()">Get Started</button>
          </div>
        </div>
      </div>
      <div class="hero__container__content__image-container" [ngClass]="{'slide-out': showForm}">
        <img class="hero__container__content__image-container__image" src="/landing/aks.svg" alt="hero image" />
      </div>
      <div class="hero__container__content__login-form" *ngIf="showForm">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
