<section class="hero">
  <!-- particles go here -->
  <ngx-particles
    [id]="id"
    [options]="animationConfig"
    (particlesLoaded)="particlesLoaded($event)"
  ></ngx-particles>
  <div class="hero__container">
    <div class="hero__container__content">
      <div class="hero__container__content__text">
        <div class="hero__container__content__text__rows">
          <div class="hero__container__content__text__rows__row">
            <h1>Unlock Insights <span>Visualize </span>Data Make Decisions</h1>
          </div>
          <div class="hero__container__content__text__rows__row">
            <p>
              At any rate, upload CSV files to create dynamic graphs for data visualization. Analyze the data through various customizable graph types and tools. Gain insights and make informed decisions with ease. Transform raw data into actionable information for any project.
            </p>
          </div>
          <div class="hero__container__content__text__rows__row">
            <a
              href="/login"
              class="hero__container__content__text__rows__row__login"
              >Get Started</a
            >
          </div>
        </div>
      </div>
      <div class="hero__container__content__image-container">
        <!-- <img
          class="hero__container__content__image-container__image"
          src="/landing/data3.svg"
          alt="hero image"
        /> -->
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>

<!-- https://erramix-themes.com/techida-landing/images/hero/bodigmas_IT_solutions_company_illustrationvectorflat_designmini_942ad818-e3f4-47af-a5e8-78e030aff9c9-removebg.png -->
