<div class="profile-container">
  <div class="profile-container__detail">
    <div class="profile-container__detail__avatar">
      <img src="/profile/profile.svg" alt="avatar" />
    </div>
    <div class="profile-container__detail__info">
      <h2 class="profile-container__detail__info__name">
        {{userData.firstName[0]?.toUpperCase()}}{{userData.firstName.slice(1)}} {{userData.lastName[0]?.toUpperCase()}}{{userData.lastName.slice(1)}}
      </h2>
      <p class="profile-container__detail__info__role">
        {{userData.roles[0]}}
      </p>
    </div>
    <div class="profile-container__detail__edit">
        <button class="profile-container__detail__edit__button">
            <img class="profile-container__detail__edit__button__icon" src="/profile/edit.svg" alt="edit" />
            <p class="profile-container__detail__edit__button__text">Edit</p>
        </button>
    </div>
  </div>
</div>
