@mixin flex {
  display: flex;
  align-items: center;
} 

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inline-size: 100%;
}

.container{
  inline-size: calc(100vw - 41.4rem);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .ant-tag {
    border-radius: 0.5rem;
  }

  &__description{
    inline-size: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 1rem;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__title {
      font-size: 2.4rem;
      font-weight: bold;
      color: #454c53;
    }

    &__text {
      font-size: 1.5rem;
      color: #6c757d;
    }
  }

  &__profile-container {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;

    &__avatar{
      position: absolute;
      top: 16.5rem;
      left: 3rem;
      inline-size: 7rem;
      block-size: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      padding-block-start: 0.5rem;
      padding-block-end: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background-color: #fff;
      color: #454c53;
    }

    &__img-container {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      inline-size: 100%;
      overflow: hidden;

      img {
        inline-size: 100%;
        height: 20rem;
        object-fit: cover;
      }
    }

    &__main {
      padding-block-start: 5rem;
      padding-inline: 4rem;

      &__header{
        @include flex();
        justify-content: space-between;

        &__btn{
          background-color: #1890FF;
          color: #fff;
          border: none;
          border-radius: 0.7rem;
        }

        h3 {
          margin: 0;
        }

        &__left{
          @include flex();
          gap: 1.5rem;
        }
      }
    }

    &__content{
      padding-inline: 4rem;
    }
  }
}
