<div class="login">
  <div class="login__container">
    <h1 class="login__container__header">Login</h1>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__container__form">
      <app-input
        formControlName="username"
        type="text"
        placeholder="Enter your username"
        prefixIcon="user"
        errorTip="*Required"
      ></app-input>

      <app-input
        formControlName="password"
        type="password"
        placeholder="Enter your password"
        prefixIcon="lock"
        errorTip="*Required"
      ></app-input>

      <div class="login__container__form__forgot-password">
        <p>Forgot password?</p>
      </div>

      <button nz-button nzType="primary" class="login__container__form__button">
        @if (onWait) {
          <nz-spin nzSimple></nz-spin>
        }@else {
          Login
        }
      </button>
    </form>
  </div>
</div>
