@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inline-size: 25rem;
  user-select: none;

  &[ng-reflect-is-collapsed='true'] {
    inline-size: 0;
  }
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;

  &__icon {
    font-size: 2rem;
  }
}

.sidebar-logo {
  position: relative;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;

  &__title-container {
    @include center;
    inline-size: 100%;
    background-color: #fff;

    &__title {
      @include center;
      gap: 0.5rem;
      cursor: pointer;
      inline-size: fit-content;
      align-self: center;

      &__text {
        height: fit-content;
        font-size: 2rem;
        color: #454c53;
        font-weight: 600;
      }

      &__logo {
        @include center;
        transition: all 0.2s linear;

        img {
          inline-size: 2.3rem;
        }
      }
    }
  }

  &__profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 2rem;
    padding-block-end: 1rem;

    &__image {
      @include center;
      inline-size: 6rem;
      block-size: 6rem;
      background-color: #79797a;
      padding-block-start: 1rem;
      padding-block-end: 1.5rem;
      cursor: pointer;

      ::ng-deep {
        .anticon-user {
          font-size: 3.5rem;
        }
      }
    }

    &__name {
      @include center;
      gap: 1rem;
      height: 5rem;

      &__text {
        line-height: 1.5;
        font-size: 1.5rem;
        font-weight: 600;
        color: #454c53;
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -3px;
          background-color: #454c53;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.2s ease-in-out;
        }

        &:hover {
          color: #454c53;
          &::after {
            transform: scaleX(1);
          }
        }

        &:not(:hover)::after {
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.2s ease-in-out;
        }
      }

      &__icon {
        width: 2rem;
        cursor: pointer;
      }
    }
  }
}

.menu-sidebar__list {
  padding-block-start: 2.4rem;

  &__item {
    letter-spacing: 0.1rem;
    color: #667079;

    .menu-sidebar__icon {
      color: #667079;
    }

    &:hover {
      background-color: #f5f5f5;

      .menu-sidebar__icon {
        color: #0284c7;
      }

      .menu-sidebar__icon-message {
        color: #000;
      }
    }
  }

  .ant-menu-item-selected {
    background-color: transparent;

    .menu-sidebar__icon {
      color: #0284c7;
    }

    &::after {
      border-right: 3px solid #0284c7;
    }

    .menu-sidebar__icon-message {
      color: #000;
    }
  }

  ::ng-deep {
    .ant-menu-title-content {
      display: flex;
      transition: color 0s;
    }
  }
}

.ant-layout-sider-collapsed {
  .sidebar-logo__title-container__title {
    display: none;
  }

  .sidebar-logo__title-container__logo {
    font-size: 3rem;
    cursor: pointer;
  }

  .sidebar-logo__profile-container__name {
    display: none;
    padding: 2.5rem;
  }

  .sidebar-logo__title-container {
    padding-block: 2rem;
  }

  .menu-sidebar__icon {
    font-size: 2.7rem;
  }

  .menu-sidebar__icon-message {
    display: none !important;
  }

  .menu-sidebar__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .menu-sidebar__list__item {
    @include center;
    padding-block: 1rem;
    padding-inline: 0;
    padding-block-start: 1.7rem;
  }

  .menu-sidebar__toggle {
    inline-size: 8rem;
  }
}
