<nz-sider
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
  nzTheme="light"
>
  <nz-layout class="sidebar-logo" nzTheme="light">
    <div class="sidebar-logo__title-container" nzTheme="light" routerLink="/dashboard">
      <div class="sidebar-logo__title-container__title">
        <span class="sidebar-logo__title-container__title__logo">
          <img class="sidebar-logo__title-container__title__logo__img" src="/logo.svg" alt="logo" />
        </span>
        <h1 class="sidebar-logo__title-container__title__text">Negar</h1>
      </div>
    </div>
    <nz-content class="sidebar-logo__profile-container" nzTheme="light">
      <nz-avatar
        nzIcon="user"
        class="sidebar-logo__profile-container__image"
        routerLink="/dashboard/profile"
      ></nz-avatar>
      <span class="sidebar-logo__profile-container__name">
        <p class="sidebar-logo__profile-container__name__text" routerLink="/dashboard/profile">
          {{ userData.firstName[0]?.toUpperCase() }}. {{ userData.lastName[0]?.toUpperCase()
          }}{{ userData.lastName.slice(1) }}
        </p>
        <img
          class="sidebar-logo__profile-container__name__icon"
          src="/logout.svg"
          alt="logout"
          tabindex="0"
          role="button"
          (click)="logout()"
          (keydown.enter)="logout()"
          (keydown.space)="logout()"
        />
      </span>
    </nz-content>
  </nz-layout>
  <ul class="menu-sidebar__list" nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li
      class="menu-sidebar__list__item"
      nz-menu-item
      nzTitle="Dashboard"
      nzIcon="dashboard"
      routerLink="/dashboard"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span nz-icon nzType="home" class="menu-sidebar__icon"></span>
      <span class="menu-sidebar__icon-message">Dashboard</span>
    </li>
    @if (userPermissions.indexOf('/api/Admin') !== -1) {
    <li
      class="menu-sidebar__list__item"
      nz-menu-item
      nzOpen
      nzTitle="Manage Users"
      nzIcon="team"
      routerLink="/dashboard/manage-users"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span nz-icon nzType="team" class="menu-sidebar__icon"></span>
      <span class="menu-sidebar__icon-message">Manage Users</span>
    </li>
    }
    <li
      class="menu-sidebar__list__item"
      nz-menu-item
      nzOpen
      nzTitle="Graph"
      nzIcon="team"
      routerLink="/dashboard/graph"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span nz-icon nzType="dot-chart" class="menu-sidebar__icon"></span>
      <span class="menu-sidebar__icon-message">Graph</span>
    </li>
  </ul>
</nz-sider>
