<nz-sider
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
  nzTheme="light"
>
  <nz-layout class="sidebar-logo" nzTheme="light">
    <!-- <a href="https://ng.ant.design/" target="_blank">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      <h1>Ant Design Of Angular</h1>
    </a> -->
    <div class="sidebar-logo__title-container" nzTheme="light">
      <span
        sidebar-logo__title-container__logo
        nz-icon
        nzType="node-index"
        nzTheme="outline"
        class="sidebar-logo__title-container__logo"
      ></span>
      <h1 class="sidebar-logo__title-container__title">Negar</h1>
    </div>
    <nz-content class="sidebar-logo__profile-container" nzTheme="light">
      <img
        src="https://qph.cf2.quoracdn.net/main-thumb-1529331129-200-uunyepjnxqzgkjnouvmqaovdaddgmgec.jpeg"
        alt=""
        class="sidebar-logo__profile-container__img"
        nzTheme="light"
      />
      <span class="sidebar-logo__profile-container__name">A.moradi</span>
    </nz-content>
  </nz-layout>
  <ul
    class="menu-sidebar__list"
    nz-menu
    nzTheme="light"
    nzMode="inline"
    [nzInlineCollapsed]="isCollapsed"
  >
    <li
      class="menu-sidebar__list__item"
      nz-menu-item
      nzOpen
      nzTitle="Dashboard"
      nzIcon="dashboard"
    >
      <span nz-icon nzType="dashboard" class="menu-sidebar__icon"></span>
      <span class="menu-sidebar__icon-message">Dashboard</span>
    </li>
    <li
      class="menu-sidebar__list__item"
      nz-menu-item
      nzOpen
      nzTitle="Manage Users"
      nzIcon="team"
    >
      <span nz-icon nzType="team" class="menu-sidebar__icon"></span>
      <span class="menu-sidebar__icon-message">Manage Users</span>
    </li>
  </ul>
</nz-sider>
