<div nz-flex [nzVertical]="true" class="toolbar-container">
  <button nzType="default" title="Negar" type="button" class="toolbar-container__logo" routerLink="/dashboard">
    <img class="sidebar-logo__title-container__title__logo__img" src="/logo.svg" alt="logo" />
  </button>

  <br />

  <div nz-flex [nzVertical]="true" class="toolbar-container__btn-container">
    <button
      nzPopoverTrigger="click"
      nz-popover
      nzPopoverTitle="Upload"
      [nzPopoverContent]="upload"
      nzPopoverPlacement="right"
      type="button"
      class="toolbar-container__btn"
      [ngClass]="{ active: activeButton === 0 }"
      (click)="setActiveButton(0)"
    >
      <span nz-icon nzType="import" nzTheme="outline"></span>
    </button>

    <button
      nzPopoverTrigger="click"
      nz-popover
      nzPopoverTitle="Layouts"
      [nzPopoverContent]="layouts"
      nzPopoverPlacement="right"
      nzTitle="Layouts"
      type="button"
      class="toolbar-container__btn"
      (click)="setActiveButton(1)"
      [ngClass]="{ active: activeButton === 1 }"
    >
      <span nz-icon nzType="filter" nzTheme="outline"></span>
    </button>

    <button
      nzPopoverTrigger="click"
      nz-popover
      nzPopoverTitle="Settings"
      [nzPopoverContent]="Options"
      nzPopoverPlacement="right"
      nzTitle="Layouts"
      type="button"
      class="toolbar-container__btn"
      (click)="setActiveButton(2)"
      [ngClass]="{ active: activeButton === 2 }"
    >
      <span nz-icon nzType="setting" nzTheme="outline"></span>
    </button>
  </div>

  <div class="grow-div"></div>

  <div nz-flex [nzVertical]="true" class="toolbar-container__btn-container">
    <button nz-tooltip nzTooltipTitle="Github repo" title="info" type="button" class="toolbar-container__btn">
      <a
        href="https://github.com/Star-Academy/Summer1403-Project-Group04-Frontend"
        target="_blank"
        rel="noopener noreferrer"
        class="toolbar-container__btn__github"
        ><span nz-icon nzType="github" nzTheme="outline"></span>
      </a>
    </button>

    <button
      title="user"
      type="button"
      class="toolbar-container__btn"
      [ngClass]="{ active: activeButton === 3 }"
      routerLink="/dashboard/profile"
    >
      <span nz-icon nzType="user" nzTheme="outline"></span>
    </button>
  </div>
</div>

<ng-template #layouts>
  <app-layouts></app-layouts>
</ng-template>

<ng-template #Options>
  <div>
    <p>
      Toggle show connected nodes on hover
      <nz-switch nzDisabled nz-tooltip nzTooltipTitle="Under construction"></nz-switch>
    </p>
    <p style="color: lightgray">More options to be added</p>
  </div>
</ng-template>

<ng-template #upload>
  <div>
    <app-upload-components></app-upload-components>
  </div>
</ng-template>
